.containerCart {
  width: 100%;
  height: auto;
  .containerContols {
    background-color: #282c34;
    width: 100%;
    height: 40px;
    margin-top: 2px;

    ul {
      color: white;
      display: flex;
      margin: auto;
      text-decoration: none;
      list-style: none;
      font-weight: bold;

      li {
        display: flex;
        margin: 8px 10px;
      }
    }
  }

  .containerBody {
    width: 100%;
    height: auto;
    margin-top: 2px;

    ul {
      color: black;
      display: flex;
      margin: auto;
      text-decoration: none;
      margin: 2px auto;
      list-style: none;
      font-weight: bold;
      background-color: silver;
      align-items: center;
      &:hover {
        color: white;
        background-color: rgb(201, 192, 192);
      }
      li {
        display: flex;
        margin: 0px 10px;
      }
      i {
        margin: 10px 0px;
        color: black;
        &:hover {
          color: red;
        }
      }
    }
  }

  .containerForm {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 10% 65% 20%;
    gap: 10px;

    .containerImage {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 60%;
        margin-left: 30px;
        margin-top: 10px;
      }
    }

    form {
      width: auto;
      height: auto;
      position: relative;
      margin: auto;
      input {
        background-color: #d9d9d9;
        color: black;
        border: none;
        height: 40px;
        &:focus {
          outline: none;
        }
      }

      .imputSmall {
        display: grid;
        grid-template-columns: 200px auto;
        margin: 10px;

        .containerIdClient {
          background-color: #0099ff;
          display: flex;
          width: 50%;
          button {
            background-color: #0099ff;
            border-radius: 0 10px 10px 0px;
            color: white;
            border: none;
            i {
              width: 30px;
              margin: auto;
              align-items: center;
              justify-content: center;
              display: flex;
              border-radius: 0 10px 10px 0px;
            }
            &:hover {
              background-color: #0066cc;
            }
          }
        }
        .inputSmall1 {
          width: 160px;
          height: 40px;
        }
        .inputSmall2 {
          width: 160px;
        }
      }
      .imputLarge {
        display: grid;
        grid-template-columns: auto auto;
        margin: 10px;
        .inputLarge1 {
          width: 300px;
        }
        .inputLarge2 {
          width: 300px;
        }
      }
    }

    .containerButton {
      margin: 10px;
      button {
        color: white;
        background-color: #0099ff;
        border: none;
        border-radius: 5px;
        width: 200px;
        height: 40px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        &:hover {
          background-color: #078be2;
        }
      }
    }
  }
  .InforData {
    width: 100%;
    height: auto;
    .containerTotal {
      background-color: black;
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      color: #fff;
      border-radius: 10px;
      margin-left: auto;
      margin-right: 45px;
      margin-top: 10px;
      margin-bottom: 10px;
      h3 {
        color: white;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .subtotal12 {
        margin: 5px auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 20px;
        h6 {
          margin-left: 10px;
          margin-top: 1px;
          color: #fff;
          margin: auto 10px;
          width: 60%;
        }
        p {
          color: #fff;
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
          margin-right: 10px;
          width: 40%;
          height: 20px;
        }
      }
      .subtotal0 {
        margin: 2px auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 20px;
        h6 {
          margin-left: 10px;
          margin-top: 1px;
          color: #fff;
          margin: auto 10px;
          width: 60%;
        }
        p {
          color: #fff;
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
          margin-right: 10px;
          width: 40%;
          height: 20px;
        }
      }

      .descuento {
        margin: 2px auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 20px;
        h6 {
          margin-left: 10px;
          margin-top: 1px;
          color: #fff;
          margin: auto 10px;
          width: 60%;
        }
        p {
          color: #fff;
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
          margin-right: 10px;
          width: 40%;
          height: 20px;
        }
      }
      h3 {
        color: red;
        font-weight: bolder;
        transition: all;
        animation: color 1s infinite;
        @keyframes color {
          0% {
            color: red;
          }
          50% {
            color: green;
          }
          100% {
            color: red;
          }
        }
      }
      .iva12 {
        margin: 2px auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 20px;
        h6 {
          margin-left: 10px;
          margin-top: 1px;
          color: #fff;
          margin: auto 10px;
          width: 60%;
        }
        p {
          color: #fff;
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
          margin-right: 10px;
          width: 40%;
          height: 20px;
        }
      }
    }

    .containerInforDocu {
      background-color: black;
      width: 100%;
      height: 70%;
      margin: auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      border-radius: 10px;
      margin-top: 10px;
      .inputDate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px auto;
        width: 90%;
        height: 80px;
        background-color: #d9d9d9;
        margin-top: -25px;
        border: none;
        &:focus {
          outline: none;
        }
      }

      .containerSecuence {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        width: 90%;
        background-color: #d9d9d9;
        margin-top: -25px;
        height: 70px;
        border: none;
        margin-bottom: 10px;

        .inputNumDocument {
          background-color: #d9d9d9;
          // border a la izquierda

          width: 100%;
          height: 100%;
          border: none;
          &:focus {
            outline: none;
          }
        }
        .inputSerie1 {
          background-color: #d9d9d9;
          width: 40px;
          height: 100%;
          border: none;
          // border solo a la derecha
          border-right: 1px solid black;

          &:focus {
            outline: none;
          }
        }
        .inputSerie2 {
          background-color: #d9d9d9;
          border-right: 1px solid black;
          width: 50%;
          height: 100%;
          border: none;
          &:focus {
            outline: none;
          }
        }
      }

      p {
        color: white;
        font-weight: bold;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -25px;
      }
      select {
        color: black;
        font-weight: bold;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: auto;
        border: none;
        background-color: #d9d9d9;
        margin-top: -25px;
        &:focus {
          outline: none;
        }
      }
    }
  }
}
