.containerMyStore {
  width: 100%;
  height: auto;
  margin-top: 100px;

  .containerCard {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    .bodyCard {
      width: 200px;
      transition: all 0.3s;
      border-radius: 10px;
      background-color: black;
      &:hover {
        background-color: #272b33;
      }

      .containerimg {
        width: 100%;
        height: 100px;
        img {
          width: 100px;
          max-height: 100px;
          object-fit: contain;
          margin: 10px auto;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            transform: scale(1.1);
            rotate: 10deg;
          }
        }
      }

      .containerInfor {
        width: 100%;
        height: 140px;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        p {
          color: white;
          width: 90%;
          height: 20px;
          margin-left: 10px;
          margin-top: -5px;
          padding: auto;
          font-size: 12px;
        }
        .containerprice {
          width: 95%;
          height: 20px;

          display: flex;
          p {
            color: white;

            width: 90%;
            height: 20px;
            margin-left: 10px;
            margin-top: -5px;
            padding: auto;
            font-size: 12px;
          }
        }
      }

      .containerButtonStore {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 10px;
        margin-top: -20px;
        .btn1 {
          width: 90px;
          height: 30px;
          background-color: #0066cc;
          border: none;
          color: white;
          font-size: 12px;
          border-radius: 5px;
          margin-top: -15px;
        }
        .btn2 {
          width: 90px;
          height: 30px;
          background-color: #0066cc;
          border: none;
          color: white;
          font-size: 12px;
          border-radius: 5px;
          margin-top: -15px;
        }
      }
    }
  }

  .containerPagination {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 50px;
    margin: 10px auto;
    p {
      margin-top: 15px;
      max-width: 120px;
      height: 30px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
    }
    i {
      font-size: 30px;
      width: auto;
      height: auto;
      margin: 0 20px;
      cursor: pointer;
      color: #0099ff;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: #0066cc;
      }
    }
  }
}
