.containerAccount {
  width: 100%;
  height: auto;
  color: #fff;

  .containerTitleAccount {
    width: 100%;
    height: 100px;
    color: white;
    width: 98%;
    height: 60px;
    margin: 10px auto;
    background-color: black;
    border-radius: 10px;
    h4 {
      display: flex;
      font-size: 24px;
      margin: auto;
      align-items: center;
      justify-content: center;
    }
  }
  .containerData {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;

    .block1 {
      background-color: black;
      border-radius: 10px;
      width: 200px;
      height: 200px;
      display: flex;
      flex-direction: column;

      h5 {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
      }
      p {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 14px;
      }
      img {
        width: 50%;
        height: 50%;
        margin-top: -150px;
        display: flex;
        margin: auto;
      }

      button {
        width: 60%;
        height: 30px;
        font-size: 12px;
        background-color: #0099ff;
        color: white;
        border: none;
        border-radius: 10px;
        margin: 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        user-select: none;
        cursor: pointer;
        &:hover {
          background-color: #0066cc;
        }
      }
    }
    .block2 {
      background-color: black;
      border-radius: 10px;
      width: 200px;
      height: 200px;
      display: flex;
      flex-direction: column;

      h5 {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      p {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 14px;
      }
      img {
        width: 50%;
        height: 50%;
        margin-top: -150px;
        display: flex;
        margin: auto;
      }
    }
    .block3 {
      background-color: black;
      border-radius: 10px;
      width: 200px;
      height: 200px;
      display: flex;
      flex-direction: column;
      h5 {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      p {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 14px;
      }
      img {
        width: 50%;
        height: 50%;
        margin-top: -150px;
        display: flex;
        margin: auto;
      }
      button {
        width: 70%;
        height: 30px;
        font-size: 12px;
        background-color: #0099ff;
        color: white;
        border: none;
        border-radius: 10px;
        margin: 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        user-select: none;
        cursor: pointer;
        &:hover {
          background-color: #0066cc;
        }
      }
    }
    .block4 {
      background-color: black;
      border-radius: 10px;
      width: 200px;
      height: 200px;
      display: flex;
      flex-direction: column;

      h5 {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      p {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 14px;
      }
      img {
        width: 50%;
        height: 50%;
        margin-top: -150px;
        display: flex;
        margin: auto;
      }
      button {
        width: 70%;
        height: 30px;
        font-size: 12px;
        background-color: #0099ff;
        color: white;
        border: none;
        border-radius: 10px;
        margin: 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        user-select: none;
        cursor: pointer;
        &:hover {
          background-color: #0066cc;
        }
      }
    }
    .block5 {
      background-color: black;
      border-radius: 10px;
      width: 200px;
      height: 200px;
      display: flex;
      flex-direction: column;
      h5 {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        width: 40%;
        height: 40%;
        margin-top: -150px;
        display: flex;
        margin: auto;
      }
    }
    button {
      width: 80%;
      height: 30px;
      font-size: 12px;
      background-color: #0099ff;
      color: white;
      border: none;
      border-radius: 10px;
      margin: 5px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      cursor: pointer;
      &:hover {
        background-color: #0066cc;
      }
    }
  }

  .containerStore {
    h4 {
      margin: auto;
      display: flex;
      justify-content: center;
      color: black;
    }
  }
  .containerFormConfig {
    background-color: black;
    width: 80%;
    border-radius: 10px;
    margin: auto;
    height: auto;
    .contaierCompany1 {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      .input1Company {
        display: flex;
        width: 100%;
        height: 30px;
        .labelNameCompany {
          width: 200px;
          align-items: center;
          justify-content: center;
          display: flex;
        }
        .inputNameCompany {
          background-color: #d9d9d9;
          width: 400px;
          border: none;
          &:focus {
            outline: none;
          }
        }
      }

      .contenedorSearch {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .labelDNICompany {
          width: 100px;
          align-items: center;
          justify-content: center;
          display: flex;
        }

        .inputDNICompany {
          background-color: #d9d9d9;
          width: 200px;
          height: 30px;
          border: none;
          &:focus {
            outline: none;
          }
        }

        button {
          width: 30px;
          height: 30px;
          border-radius: 0px 10px 10px 0px;
          border: none;
          margin: 10px;
          margin-left: -10px;
          background-color: #0099ff;
          color: white;
          user-select: none;
          cursor: pointer;
          &:hover {
            background-color: #0066cc;
          }
        }
        i {
          color: white;
          align-items: center;
          justify-content: center;
          display: flex;
        }
      }
    }

    .contaierCompany2 {
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      .labelDirectionCompany {
        width: 500px;
        height: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
      }
      .inputDirectionCompany {
        background-color: #d9d9d9;
        height: 30px;
        width: 80%;
        border: none;
        &:focus {
          outline: none;
        }
      }

      .labelOwnerCompany {
        width: 500px;
        height: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
      }
      .inputOwnerCompany {
        background-color: #d9d9d9;
        height: 30px;
        width: 40%;
        border: none;
        &:focus {
          outline: none;
        }
      }
    }

    .contaierCompany3 {
      margin: 10px auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      .labelCompany {
        width: 600px;
        height: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
      }
      .inputCompany {
        background-color: #d9d9d9;
        height: 30px;
        width: 80%;
        border: none;
        &:focus {
          outline: none;
        }
      }
      .labelIvaCompany {
        width: 200px;
        height: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
      }
      .inputIvaCompany {
        background-color: #d9d9d9;
        height: 30px;
        width: 20%;
        border: none;
        margin-left: 10px;
        &:focus {
          outline: none;
        }
      }
      .labelActivatorCompany {
        width: 300px;
        height: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
      }
      .inputActivatorCompany {
        background-color: #d9d9d9;
        height: 30px;
        width: 50%;
        border: none;
        &:focus {
          outline: none;
        }
      }
      select {
        background-color: #d9d9d9;
        margin-left: 5px;
        &:focus {
          outline: none;
        }
        width: 35%;
        height: 30px;
      }
    }

    .contaierCompany4 {
      align-items: center;
      justify-content: center;
      display: flex;
      width: 40%;
      margin: auto;
      p {
        color: white;
        margin: auto;
      }
      select {
        background-color: #d9d9d9;
        &:focus {
          outline: none;
        }
        width: 30%;
        height: 30px;
      }
    }

    .contaierCompany5 {
      align-items: center;
      justify-content: center;
      display: flex;
      width: 90%;
      margin: auto;

      .inputSerie1 {
        height: 30px;
        background-color: #d9d9d9;
        width: 50%;
        border: none;
        &:focus {
          outline: none;
        }
      }
      .inputSerie2 {
        background-color: #d9d9d9;
        height: 30px;
        width: 50%;
        border: none;
        &:focus {
          outline: none;
        }
      }
      .secuenceDocument {
        width: 100px;
        &:focus {
          outline: none;
        }
      }
      label {
        color: white;
        margin: auto;
        font-size: 12px;
        margin-left: 30px;
      }

      input {
        background-color: #d9d9d9;
        height: 30px;
        width: 50%;
        border: none;
      }

      button {
        background-color: #0099ff;
        color: white;
        border: none;
        width: 400px;
        height: 30px;
        border-radius: 0px 10px 10px 0px;
        color: white;
        user-select: none;
        cursor: pointer;
        &:hover {
          background-color: #0066cc;
        }
        i {
          color: white;
          align-items: center;
          justify-content: center;
          display: flex;
        }
      }
    }

    .containerButton {
      margin: 20px auto;
      width: 90%;
      padding: 10px;
      button {
        background-color: #0099ff;
        color: white;
        border: none;
        width: 400px;
        height: 30px;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: auto;
        user-select: none;
        cursor: pointer;
        margin-top: -10px;
        &:hover {
          background-color: #0066cc;
        }
      }
    }
  }

  .containerButtonLogout {
    margin: 10px auto;
    width: 90%;
    display: flex;
    align-items: center;
    button {
      background-color: #0099ff;
      color: white;
      border: none;
      width: 100px;
      height: 30px;
      border-radius: 5px;
      border-radius: 5px;
      align-items: center;
      justify-content: center;
      display: flex;
      margin: 10px auto;
      user-select: none;
      cursor: pointer;
      &:hover {
        background-color: #0066cc;
      }
    }
  }

  .containerSecuence {
    width: 90%;
    display: flex;
    margin: auto;
    h4 {
      color: white;
      margin: 10px auto;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }
}
