.containerSearch {
  background-color: black;
  width: 100%;
  height: 70px;
  display: flex;

  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: -2;

  .Title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    margin: auto;
    margin-left: 20px;
  }

  p {
    color: white;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 5px;
  }
  input {
    background-color: silver;
    width: 100%;
    border: none;
    height: 50px;
    color: black;
    &:focus {
      outline: none;
    }
  }
  button {
    background-color: #0099ff;
    border: none;
    color: white;
    width: 300px;
    height: 50px;
    user-select: none;
    border-radius: 0 5px 5px 0;
    i {
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 25px;
    }
    &:hover {
      background-color: #0066cc;
    }
  }

  .containerShooping {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      color: white;
      background-color: red;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: relative;
      top: -10px;
      left: 47px;
      z-index: 1;
      user-select: none;
      cursor: pointer;
    }
    img {
      object-fit: contain;
      width: 50px;
      height: 40px;
      z-index: 4;
      margin-top: 20px;
      user-select: none;
      cursor: pointer;
    }
  }
}
